<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <TxConfig type="Txooo.TxConfig">
    <!--当前应用程序信息-->
    <App name="测试应用程序" />
    <!--变量信息-->
    <Variable>
      <Add name="DefaultSkinPath" value="~/Skin/Default/Tx_Skin.config" />
    </Variable>
  </TxConfig>


  <log4net path="./log/">
    <!--默认日志级别，OFF、Fatal、ERROR、WARN、INFO、DEBUG、ALL-->
    <root>
      <level value="ALL" />
    </root>

    <!--日志记录对象-->
    <logger name="Txooo.TxConfig">
      <level value="ALL" />
      <appender-ref ref="Txooo.TxConfig.Appender" />
    </logger>

  </log4net>

</configuration>